/*----------------------------------------------------------------------------*/

html, body, table {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: sans;
  background: #fff;
  color: #4e4e4e;
  font-size: 10.5pt;
}

/*----------------------------------------------------------------------------*/

#main-layout {
  width: 100%;
  height: 100%;
}

#main-layout,
#main-layout > tbody > tr,
#main-layout > tbody > tr > td,
table.scroll-hack,
table.scroll-hack > tbody > tr,
table.scroll-hack > tbody > tr > td {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-collapse: collapse;
}

/*----------------------------------------------------------------------------*/

#dialog {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
  overflow-y: scroll;
}

/*----------------------------------------------------------------------------*/

#toolbar {
  -webkit-user-select: none; 
  background: #422d52;
  padding: 0;
  margin: 0;
  text-align: right;
}

#toolbar a.button {
  display: block;
  color: #D1CDDC;
  text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 12px 24px 12px 24px;
  border-left: 1px solid #573c6d;
  float: right;
  border-radius: 2px;
  font-size: 10pt;
  outline: 0;
  transition: 0.25s;
}

#toolbar a.button:hover {
  background: #4d355f;
  color: #fff;
}

#toolbar a.button:active {
  background: #32223f;
  color: #fff;
}

div.clearfix {
  clear: both;
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------------*/

#messages {
  padding-top: 12px;
}

div.message {
  border-top: 1px dashed #aaa;
  font-size: 10.5pt;
}

div.message:last-child {
  border-bottom: 1px dashed #aaa;
}

div.message p {
  line-height: 150%;
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

div.message p:last-child {
  margin-bottom: 0;
}

div.message a {
  color: #07c;
  text-decoration: none;
}

div.message a:hover {
  text-decoration: underline;
}

div.message ul, il {
  margin: 0;
  margin-bottom: 8px;
  padding-left: 30px;
}

div.message li {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
}

div.message li:last-child {
  margin-bottom: 0;
}

div.message img {
  max-width: 100%;
  border: 3px solid #e0e0e0;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 8px;
}

div.message pre {
  border: 3px solid #e0e0e0;
  display: block;
  width: auto;
  overflow: initial;
}

div.message pre > code {
  overflow: initial;
}

/*----------------------------------------------------------------------------*/

table.scroll-hack {
  width: 100%;
  height: auto;
  table-layout: fixed;
}

table.scroll-hack > tbody {
  display: block;
  overflow-x: auto;
}

/*----------------------------------------------------------------------------*/

div.columns {
  display: -webkit-flex;
}

div.column {
  margin-right: 12px;
  min-width: 200px;
}

div.column:last-child {
  margin-right: 0;
}

/*----------------------------------------------------------------------------*/

div.table-container {
  border: 3px solid #e0e0e0;
}

table.normal {
  width: auto;
  height: auto;
  border-collapse: collapse;
  font-size: 10pt;
}

table.normal > tbody > tr > td {
  padding: 8px 20px 8px 20px;
  border: 1px solid #c0c0c0;
}

table.normal > tbody > tr > td.normal {
  background: #fff;
}

table.normal > tbody > tr:nth-child(even) > td.normal {
  background: #f9f9f9;
}

table.normal > tbody > tr > td.header {
  background: #eaeaea;
  color: #666;
  font-weight: bold;
}

/*----------------------------------------------------------------------------*/

div.message.display {
  padding: 8px 16px 8px 16px;
}

/*----------------------------------------------------------------------------*/

div.message.prompt {
  background: #f9f5e1;
}

div.message.prompt.done {
  background: #f5f5f5;
}

table.prompt-layout {
  font-size: 10.5pt;
}

table.prompt-layout,
table.prompt-layout > tbody > tr,
table.prompt-layout > tbody > tr > td {
  border: none;
  border-collapse: collapse;
  height: auto;
}

table.prompt-layout > tbody > tr > td.prompt-message {
  border-collapse: collapse;
  padding: 8px 6px 8px 16px;
  width: auto;
  color: #877e5a;
  white-space: nowrap;
}

div.message.prompt.done
table.prompt-layout > tbody > tr > td.prompt-message {
  color: #888;
}

table.prompt-layout > tbody > tr > td.prompt-message:after {
  content: "›";
  color: #3f391c;
  margin-left: 12px;
}

div.message.prompt.done
table.prompt-layout > tbody > tr > td.prompt-message:after {
  color: #333;
}

table.prompt-layout > tbody > tr > td.prompt-entry {
  width: 100%;
}

td.prompt-entry.ask-line > input[type="text"] {
  width: 100%;
  border: none;
  background: none;
  margin: 0;
  padding: 6px;
  outline: 0;
  color: #625c41;
  font-family: sans;
  font-size: 10.5pt;
}

div.message.prompt.done
td.prompt-entry.ask-line > input[type="text"] {
  color: #444;
}

td.prompt-entry.ask-line > input[type="text"][disabled] {
  color: #222;
}

/*----------------------------------------------------------------------------*/

#end-dialog {
  display: none;
  margin-top: 20px;
  margin-bottom: 12px;
  text-align: center;
}

#end-dialog-message {
  font-weight: bold;
  font-size: 16pt;
  color: #999;
  margin: 0;
  margin-bottom: 5px;
}

#end-dialog-message.exception {
  color: #a77;
}

#end-dialog-suggestion {
  color: #666;
  font-size: 9pt;
  margin: 0;
}

/*----------------------------------------------------------------------------*/
